p {
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.container {
    max-width: 1300px;
}

.lead {
    margin-bottom: 2rem;
}

.drop-area {
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 250px;
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); /* Menambahkan bayangan dengan warna hitam semi-transparan */
}



.highlight {
    border-color: #007bff !important; 
    background-color: #f0f9ff !important;
}

#imagePreview {
    max-width: 100%;
    max-height: 300px;
    margin: 20px auto;
    display: block;
}

.display-4 {
    font-weight: 600;
}

.jumbotron {
    background-color: white;
    padding-top: 100px;
}

.judul{
    display: flex; flex-direction: column; flex: 1;
    margin-top: 50px;
  }
  
.tampilan-row {

    display: flex; flex-direction: row; gap: 50px; 
}