{% extends "layout.html" %} {% block body %}
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3 sidebar">
            <h1>Menu</h1>
            <div class="separator"></div>

            <h2 class="dropdown-button" onclick="toggleDropdown('umum')">Umum <span class="arrow">&gt;</span></h2>
            <div id="umum" class="dropdown-content">
                <form id="" action="{{ url_for('normal') }}" method="POST" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-primary">Normal</button>
                </form>
                <form id="" action="{{ url_for('grayscale') }}" method="POST" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-primary">Grayscale</button>
                </form>
                <form id="" action="{{ url_for('zoomin') }}" method="POST" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-primary">Zoom In</button>
                </form>
                <form id="" action="{{ url_for('zoomout') }}" method="POST" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-primary">Zoom Out</button>
                </form>
            </div>

            <div class="separator"></div>

            <h2 class="dropdown-button" onclick="toggleDropdown('pergeseran')">Pergeseran <span class="arrow">&gt;</span></h2>
            <div id="pergeseran" class="dropdown-content">
                <form id="" action="{{ url_for('move_left') }}" method="POST" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-primary">Geser Kiri</button>
                </form>
                <form id="" action="{{ url_for('move_right') }}" method="POST" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-primary">Geser Kanan</button>
                </form>
                <form id="" action="{{ url_for('move_up') }}" method="POST" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-primary">Geser Atas</button>
                </form>
                <form id="" action="{{ url_for('move_down') }}" method="POST" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-primary">Geser Bawah</button>
                </form>
            </div>

            <div class="separator"></div>

            <h2 class="dropdown-button" onclick="toggleDropdown('penerangan')">Penerangan <span class="arrow">&gt;</span></h2>
            <div id="penerangan" class="dropdown-content">
                <form id="" action="{{ url_for('brightness_multiplication') }}" method="POST" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-primary">Terang (*)</button>
                </form>
                <form id="" action="{{ url_for('brightness_division') }}" method="POST" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-primary">Gelap (/)</button>
                </form>
                <form id="" action="{{ url_for('brightness_addition') }}" method="POST" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-primary">Terang (+)</button>
                </form>
                <form id="" action="{{ url_for('brightness_substraction') }}" method="POST" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-primary">Gelap (-)</button>
                </form>
            </div>
        
            <div class="separator"></div>
        
            <h2 class="dropdown-button" onclick="toggleDropdown('analisis')">Analisis Gambar <span class="arrow">&gt;</span></h2>
            <div id="analisis" class="dropdown-content">
                <form id="" action="{{ url_for('histogram_rgb') }}" method="POST" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-primary">Histogram</button>
                </form>
            </div>
        
            <div class="separator"></div>
        
            <h2 class="dropdown-button" onclick="toggleDropdown('pemrosesan')">Pemrosesan Gambar <span class="arrow">&gt;</span></h2>
            <div id="pemrosesan" class="dropdown-content">
                <form id="" action="{{ url_for('histogram_equalizer') }}" method="POST" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-primary">Histogram Equalizer</button>
                </form>
            </div>
        
            <div class="separator"></div>
        
            <h2 class="dropdown-button" onclick="toggleDropdown('filter')">Filter Gambar <span class="arrow">&gt;</span></h2>
            <div id="filter" class="dropdown-content">
                <form id="" action="{{ url_for('edge_detection') }}" method="POST" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-primary">Edge Detection</button>
                </form>
                <form id="" action="{{ url_for('blur') }}" method="POST" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-primary">Blur</button>
                </form>
                <form id="" action="{{ url_for('sharpening') }}" method="POST" enctype="multipart/form-data">
                    <button type="submit" class="btn btn-primary">Sharpening</button>
                </form>
            </div>
        
            <div class="separator"></div>
        
            <h2 class="dropdown-button" onclick="toggleDropdown('segmentasi')">Segmentasi <span class="arrow">&gt;</span></h2>
            <div id="segmentasi" class="dropdown-content">
                <form id="" action="{{ url_for('thresholding') }}" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col">
                            <label for="lower_thres">Batas Awal</label>
                            <input type="number" class="form-control" name="lower_thres" placeholder="0-255">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <label for="upper_thres">Batas Akhir</label>
                            <input type="number" class="form-control" name="upper_thres" placeholder="0-255">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Thresholding</button>
                        </div>
                    </div>
                </form>
            </div>
    </div>
</div>

<!-- Main content -->
<div class="col-md-9 content">
    <div class="container">
        <div class="row">
                    {% if file_paths[2] %}
                    <div class="col-md-4">
                        <h3>Image RGB</h3>
                        <img class="img-fluid" src="{{ url_for('static', filename='img/img_now.jpg') }}" alt="image here">
                    </div>
                    <div class="col-md-4">
                        <h3>Red Histogram</h3>
                        <img class="img-fluid" src="{{ url_for('static', filename=file_paths[0]) }}" alt="image here">
                    </div>
                    <div class="col-md-4">
                        <h3>Green Histogram</h3>
                        <img class="img-fluid" src="{{ url_for('static', filename=file_paths[1]) }}" alt="image here">
                    </div>
                    <div class="col-md-4">
                        <h3>Blue Histogram</h3>
                        <img class="img-fluid" src="{{ url_for('static', filename=file_paths[2]) }}" alt="image here">
                    </div>
                    {% else %}
                    <div class="col-md-6">
                        <h3>Image Greyscaled</h3>
                        <img class="img-fluid" src="{{ url_for('static', filename='img/img_now.jpg') }}" alt="image here">
                    </div>
                    <div class="col-md-6">
                        <h3>Black Histogram</h3>
                        <img class="img-fluid" src="{{ url_for('static', filename=file_paths[0]) }}" alt="image here">
                    </div>
                    {% endif %}
            </div>
        </div>
    </div>
</div>

<style>
    /* Define styles for the sidebar */
    .sidebar {
        position: fixed;
        height: 100%;
        overflow-y: auto; /* Add scrollbar when content overflows */
        background-color: white; /* Sidebar background color */
        padding: 20px; /* Add some padding for spacing */
        width: 350px; /* Set the desired width for the sidebar */
        z-index: 1; /* Set the z-index to ensure the sidebar appears above the content */
        margin-top: 50px;
        padding-bottom: 90px;
        padding-left: 40px ;
        border-right: 1px solid #ccc;
        border-radius: 5px;
    }

    h2 {
        font-size: 22px;
        margin-top: 20px;
    }

    /* Style for buttons inside the sidebar */
    .sidebar .btn {
        display: block;
        width: 100%; /* Make buttons evenly spaced and full width */
        margin-bottom: 10px; /* Add spacing between buttons */
    }

    /* Define styles for the main content */
    .content {
        margin-left: 350px; /* Adjust this margin to make room for the sidebar */
        padding: 20px;
        margin-top: 70px; /* Add margin to create space below the fixed-top navbar */
    }

    .container-fluid {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px; 
    }

    
    .dropdown-content {
        display: none;
        border: 1px solid #ccc;
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 5px;
        margin-top: 5px;
        border-radius: 5px;
    }

    .dropdown-button {
        cursor: pointer;
        text-decoration: underline;
        position: relative;
    }

    .dropdown-button:hover {
        color: #007bff;
    }

    .arrow {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.2s;
    }

    .dropdown-button.active .arrow {
        transform: translateY(-50%) rotate(90deg);
    }
</style>


<script>
    function toggleDropdown(id) {
        var dropdown = document.getElementById(id);
        if (dropdown.style.display === "none" || dropdown.style.display === "") {
            dropdown.style.display = "block";
        } else {
            dropdown.style.display = "none";
        }
    }
</script>
{% endblock %}