{% extends "layout.html" %}
{% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="tampilan-row">
            <div class="judul">
                <div style="display: flex; flex-direction: column; align-items: center;"><img src="{{ url_for('static', filename='logo/display.png') }}" alt="image here" style="width: 35rem;"></div>
                <h2 class="display-4" style="margin-top: 10px; margin-bottom: 0px; font-weight: 700;"><span style="color: rgba(250,69,22,255);">DIG</span><span style="color: rgba(0,108,183,255);">IM</span><span style="color: rgba(38,202,211,255);">O</span><span style="color: rgba(255,183,28,255);">N</span></h2>   
                <h2 class="display-5"><span style="color: rgba(250,69,22,255);">Dig</span>ital <span style="color: rgba(0,108,183,255);">Im</span>age Pr<span style="color: rgba(38,202,211,255);">o</span>cessi<span style="color: rgba(255,183,28,255);">n</span>g</h2>   
                    <p class="lead">Website ini dapat mengolah citra digital dengan berbagai macam proses!</p>
            </div>
            
        <form id="uploadForm" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data" style="flex: 1;">
            <div id="dropArea" class="drop-area">
                <p id="dropText" style="margin-top: 6rem; margin-bottom: 6rem;">Lempar sini citranya atau klik untuk memilih</p>
                <input name="file" type="file" id="inputGroupFile04" accept="image/*" style="display: none;">
            </div>
            <p id="uploadStatus" style="margin-top: 20px;"></p>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
        </div>
        <img id="imagePreview" src="" alt="Preview Gambar" style="display: none; margin-top: 70px;">
            <p id="uploadStatus" style="margin-top: 20px;"></p>
        
    </div>
</div>

<script src="{{ url_for('static', filename='scripts/home.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}
